.avatar{background-color: white; border-color:gray; border-bottom: solid; border-radius: 30px;}
.stats{border-top: solid;}
.label{color: coral; border-radius: 30px; text-align: center; }
.description{  text-align: center; }
ul{list-style-type: none;}
.profile{border-style: solid; border-radius: 30px; display:}
.tag{color: silver; font-family:'Courier New', Courier, monospace}
.name{font-weight: bold;}
.location{font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
.quantity{}