.title{text-align: center;}
.item{}
.label{ margin-left: 10px; margin-right: 20px;color: brown;}
.percentage{margin-left: 10px;}
.statistic__section{ margin-left: 20px; border: solid; border-radius: 30px;margin-top: 20px;width: 70%;}
.stats__list{display: flex; align-items: center;justify-content: center;padding: 0; }